@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/OpenSans-Italic.ttf");
}

@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/GothaProReg.otf");
}

@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/GothaProNarBol.otf");
}