//
// MIXINS
//

//
// Media queries
//
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    .is-responsive {
      @content;
    }
  }
}

//
// Pseudo elements
//
@mixin after($display: block) {
  &:after {
    content: "";
    display: $display;
    @content;
  }
}

@mixin before($display: block) {
  &:before {
    content: "";
    display: $display;
    @content;
  }
}

//
// Helpers
//
@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin links($color, $color-hover: true, $underline: false, $underline-border:solid, $underline-hover: false, $underline-hover-border:solid) {
  &:link, &:visited {
    color: $color;
    @if $underline == true {
      border-bottom: 1px $underline-border $color;
    } @else if $underline {
      border-bottom: 1px $underline-border $underline;
    } @else {
      border-bottom: 0 none;
    }
  }

  &:hover {
    @if $color-hover == true {
      color: adjust-lightness($color, 10);
    } @else if $color-hover {
      color: $color-hover;
    }
    outline: 0 none;
    @if $underline != false {
      @if $underline-hover {
        border-bottom: 1px $underline-hover-border $underline-hover;
      } @else {
        border-bottom: 1px $underline-hover-border adjust-lightness($color, 10);
      }
    } @else if $underline-hover {
      border-bottom: 1px $underline-hover-border $underline-hover;
    }
  }

  &:focus {
    outline: 0 none;
  }
}

@mixin svg($image, $without-width: false, $without-height: false) {
  background-image: inline-image("svg/#{$image}.svg");
  background-repeat: no-repeat;

  @if $without-width != true {
    width: image-width("svg2png/#{$image}.png");
  }

  @if $without-height != true {
    height: image-height("svg2png/#{$image}.png");
  }

  yep:-o-prefocus &, body:last-child & {
    background-image: image-url("svg2png/#{$image}.png");
  }

  .no-svg & {
    background-image: image-url("svg2png/#{$image}.png");
  }

  .no-inlinesvg & {
    background-image: image-url("svg/#{$image}.svg");
  }
}

@mixin img($image, $background-position:false, $height:false){
  $image:"content/#{$image}";
  background-image: inline-image($image);
  background-repeat: no-repeat;
  width: image-width($image);
  height: image-height($image);

  @if $background-position {
      background-position: $background-position;
  }
  @if $height{
    height: image-height($image);
  }
  @content;
}


//
// TEMPLATES
//

%clearfix {
  @include clearfix;
}

%clearlist {
  list-style: none;
  margin: 0;
  padding: 0;
}