footer{
    min-height: 120px;
    background: $color-brown-light;
    padding-top: 30px;
    margin-top: 60px;
}

.footer-menu{
    display: inline-block;
    float: left;
}

.footer-menu__item{
    display: inline-block;
    text-transform: uppercase;
    height: 40px;

    &:not(:last-child){
        margin-right: 30px;
    }

    a{
        color: $color-black;
        text-decoration: none;
        border-bottom: solid 3px transparent;
        padding-bottom: 8px;
        @include transition(all, .3s);
    }

    &:hover > a, &.active > a{
        color: $color-orange;
        border-color: $color-orange;
    }
}

.footer-phone{
    float: right;
    font-size: 20px;

    span{
        font-weight: bold;
    }
}

.pf-logo{
    clear: both;
    float: right;
    margin-top: 20px;

    a:not(:last-child){
        text-decoration: none;
        color: $color-black;
        border-bottom: solid 1px #999;
    }
}