%button{
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    color: $color-white;
    margin-top: 10px;
    @include transition(all .2s);

    &:focus{
        border: none;
        outline: none;
    }
}


%button-gray{
    @extend %button;
    background-color: $color-gray;

    &:hover{
        background-color: $color-orange;
    }
}

%button-orange{
    @extend %button;
    background-color: $color-orange;

    &:hover{
        background-color: $color-orange +22;
    }
}

.form_select{
    max-height: 52px;
    border-radius: 4px;
    position: relative;
    font-size: 15px;
    overflow: hidden;
    display: inline-block;
    padding: 17px 20px;
    background: $color-white;
    cursor: pointer;
    @include transition(all, .3s);

    &.focus{
        max-height: 600px;
    }

    &::before{
        content: " ";
        @include img('arrow_down.png');
        position: absolute;
        right: 12px;
        top: 23px;
    }

    span{
        display: block;
    }

    .form_select__options{
        margin-top: 20px;

        .selected{
            display: none!important;
        }

        span{
            padding: 16px 0 8px;
            border-bottom: solid 1px transparent;

            &:hover{
                border-color: $color-orange
            }
        }

        &::before{
            content: " ";
            width: 100%;
            height: 1px;
            background: $color-orange;
            display: block;
        }
    }
}

