header{
    background-image: linear-gradient(
                    268deg, rgb(248, 173, 3) 0%,
                    rgb(246, 163, 9) 10%,
                    rgb(248, 173, 3) 10%,
                    rgb(248, 173, 3) 20%,
                    rgb(246, 163, 9) 20%,
                    rgb(246, 163, 9) 30%,
                    rgb(248, 173, 3) 30%,
                    rgb(248, 173, 3) 40%,
                    rgb(246, 163, 9) 40%,
                    rgb(246, 163, 9) 50%,
                    rgb(248, 173, 3) 50%,
                    rgb(248, 173, 3) 60%,
                    rgb(246, 163, 9) 60%,
                    rgb(246, 163, 9) 70%,
                    rgb(248, 173, 3) 70%,
                    rgb(248, 173, 3) 80%,
                    rgb(246, 163, 9) 80%,
                    rgb(246, 163, 9) 90%,
                    rgb(248, 173, 3) 90%,
                    rgb(248, 173, 3) 100%);
    background-image: -ms-linear-gradient(
                    182deg,rgb(248, 173, 3) 0%,
                    rgb(246, 163, 9) 10%,
                    rgb(248, 173, 3) 10%,
                    rgb(248, 173, 3) 20%,
                    rgb(246, 163, 9) 20%,
                    rgb(246, 163, 9) 30%,
                    rgb(248, 173, 3) 30%,
                    rgb(248, 173, 3) 40%,
                    rgb(246, 163, 9) 40%,
                    rgb(246, 163, 9) 50%,
                    rgb(248, 173, 3) 50%,
                    rgb(248, 173, 3) 60%,
                    rgb(246, 163, 9) 60%,
                    rgb(246, 163, 9) 70%,
                    rgb(248, 173, 3) 70%,
                    rgb(248, 173, 3) 80%,
                    rgb(246, 163, 9) 80%,
                    rgb(246, 163, 9) 90%,
                    rgb(248, 173, 3) 90%,
                    rgb(248, 173, 3) 100%);
    background-color: rgb(248, 173, 3);
    height: 70px;
    width: 100%;
    position: relative;
}

.header-logo{
    @include img('logo.png');
    display: inline-block;
    margin-left: -15px;
    position: absolute;
    z-index: 99;
}

.header-menu{
    float: left;
    margin-left: 230px;
    height: 70px;
}

.header-menu > ul{
    display: table;
    height: 100%;
}

.header-menu > ul > li{
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;
}

.header-menu__item a{
    color: $color-white;
    padding: 12px 20px;
    border-radius: 20px;
    @include transition(all .3s);
    text-decoration: none;
}

.header-menu__item a:hover, .header-menu__item.active a{
    background: #F4F0E7;
    color: $color-brown;
    text-shadow: 1px 0 0 $color-brown;
    box-shadow: 0px 3px 0px 1px $color-brown;
}

.header-phone{
    font-size: 24px;
    float: right;
    line-height: 70px;
    color: $color-white;

    span{
        font-weight: bold;
    }
}

