.hero{
    position: relative;
    clear: both;
    min-height: 810px;
}

.hero-background{
    background: url('../images/content/background.jpg') center center no-repeat;
    margin-top: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero-title{
    font-size: 38px;
    font-family: Gotham;
    margin-top: 200px;

    span{
        color: $color-orange;
        font-weight: bold;
        border-bottom: solid 1px $color-orange;
    }

    h1{
        position: relative;
        padding-left: 30px;
        line-height: 48px;

        &::before{
            content: ' ';
            position: absolute;
            top: 23px;
            left: 0;
            display: inline-block;
            width: 25px;
            height: 1px;
            background: $color-black;
        }
    }
}

.advantages{
    margin-top: 50px;
    position: relative;
}

.advantages::after, .preview-article::after{
    content: " ";
    display: block;
    margin: 55px auto 0;
    height: 1px;
    width: 210px;
    background: $color-orange;
}

.advantages__ico-container{
    position: relative;
    height: 180px;
    display: block;
}

.advantages__ico{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    &.alive{
        @include img('ico_jivoe.png');
    }

    &.beer{
        @include img('ico_pivo.png');
    }

    &.quality{
        @include img('ico_100percent.png');
    }
}

.advantages__text{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;

    span{
        font-weight: bold;
    }
}

.preview-article{
    margin-top: 50px;
}

.preview-article__item{
    margin-bottom: 20px;
}

.preview-article__img-container{
    height: 255px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    img{
        position: absolute;
        margin: auto;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.preview-article__text{

    h3{
        text-transform: uppercase;
        font-size: 24px;
    }

    p{
        margin-top: 10px;
        line-height: 25px;
    }

}

.preview-article__text_date{
    color: grey;
    font-style: normal;
    font-size: 12px;
}

.preview-article__button{
    @extend %button-gray;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;

    &:hover{
        text-decoration: none;
        color: $color-white;
    }

    &:active {
        text-decoration: none;
        color: $color-white;
    }
}

.map-body{
    margin-top: 30px;
}

.map-body__container{
    margin-top: 20px;
    height: 500px;
    position: relative;
}

#map{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.map-body__form{
    position: absolute;
    width: 100%;
    z-index: 2;
    display: block;
    margin-top: 50px;

    .form_select, .map-body__form_button{
        width: 100%;
        box-shadow: 0 0 20px rgb(169, 117, 112);
    }
}

.map-body__form_button{
    @extend %button-orange;
    height: 52px;
    margin-top: 0;
    text-transform: uppercase;
}