html{
    min-width: 320px;
}

body {
    @include transition(all 0.3s);
    position: relative;
    font-family: $base-font-family;
    font-size: $base-font-size;
    min-width: 320px;
}

ul{
    margin: 0;
    padding: 0;
}


h2{
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

li{
    list-style: none;
}

.container{
    @extend %clearfix
}

@include max-screen(369px){
    .header-logo{
        background-size: 145px;
    }
}

@include max-screen(424px){
    .header-phone{
        font-size: 17px;
    }
}


@include max-screen(767px){
    .footer-phone, .pf-logo{
        float: left;
    }
}

@include max-screen(1023px) {
    .has-offcanvas{
        .header-logo{
            margin-left: 0;
        }
    }
    .response-menu {
        left: -250px;
        width: 250px;
        position: absolute;
        top: 0;
        .header-menu{
            float: none!important;
            margin: 40px 0 0!important;
            height: auto!important;
        }
        li{
            width: auto;
            display: block;
            padding:0 10px!important;
            height: auto!important;

            a{
                display: block;
                width: 230px;
                color: $color-black;
                font-size: 14px;
            }
        }
    }

    .header-phone{
        margin-right: 15px;
    }

    #pull {
        float: right;
        margin-top: 25px;
        margin-right: 15px;
        @include before(inline-block) {
            @include svg('icon-menu');
            content:" ";
        }
    }

    .has-offcanvas {
        overflow-x: hidden;
        overflow-y: scroll;

        @include after(block){
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            z-index: 100;
            display: block;
        }
    }
}

@include max-screen(1199px){
    .header-menu__item a{
        font-size: 12px;
        padding: 12px 10px;
    }
}

.message-error{
    background: rgba(225, 44, 71, 0.8);
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
    position: absolute;
    text-align: center;
    z-index: 98;
    width: auto;
}
.message-error:after {
    border: solid;
    border-color: #e12c47 transparent;
    border-width: 6px 6px 0 6px;
    opacity: 0.8;
    bottom: -6px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}